body{
    
}
.container{
    display: grid;
    grid-template-areas: none 
    "header header"
    "nav nav"
    "sidebar content"
    "footer footer";
}

header{
    grid-area: header;
    background-color: aqua;
}

nav{
    grid-area: nav;
    background-color: blue;
}

aside{
    grid-area: sidebar;
    background-color: aquamarine;
}

.content{
    grid-area: content;
    background-color: bisque;
}

footer{
    grid-area: footer;
    background-color: blanchedalmond;
}



