.container{
    width: 50%;
    margin: auto;
    background-color: black;
    color: aqua;
    text-align: center;
    display: flex;
    flex-direction: colum;
}
.KALKULATOR{
    display: flex;
}

